<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>    
  <%- include('./partials/nav.ejs') %> 

  <div class="about content">
    <h2>About us</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, in voluptatibus? Mollitia iste, molestias aliquam non aliquid magni dicta, voluptatum laboriosam delectus ipsa, doloremque sint tenetur perspiciatis! Facilis, at minima?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, in voluptatibus? Mollitia iste, molestias aliquam non aliquid magni dicta, voluptatum laboriosam delectus ipsa, doloremque sint tenetur perspiciatis! Facilis, at minima?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, in voluptatibus? Mollitia iste, molestias aliquam non aliquid magni dicta, voluptatum laboriosam delectus ipsa, doloremque sint tenetur perspiciatis! Facilis, at minima?</p>
  </div>
</body>
</html>